/* General */

body {
	font-size: 13px;
	font-family: arial, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

/* Navigation - top */

.navbar {
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.navbar li {
	display: inline;
	padding-left: 25px;
}

.navbar img {
	height: 26px;
	width: 26px;
}

.navbar input {
	background-color: #4286f4;
	color: #fff;
	padding: 8px;
	border: 0;
	cursor: pointer;
}
/* Main */

.main-content {

	display: block;
	width: 100%;
	text-align: center;
}

.main-logo {
	width: 100%;
	padding-top: 200px;
	padding-bottom: 25px;
}

.logo img {
	display: block;
	width: 269px;
	height: 95px;
	margin: auto;
}

.search-bar {
	width: 592px;
	height: 40px;
	margin: auto;
	position: relative;
}

.search-bar input {
	width: 450px;
	height: 40px;
	border: 1px solid #DDD;
	padding: 0 10px;
	position: relative;
	z-index: 10;
	box-shadow: 1px 1px grey;
}	

.search-bar input:hover {
	border: 1px solid #AEAEAE;
}

.search-buttons {
	display: block;
	margin-top: 25px;
}

.search-buttons input {
	margin-right: 6px;
	margin-left: 6px;
	border: 1px solid #DDD;
	padding: 8px 3px;
	display: inline-block;
	background-color: #f2f2f2;
	font-size: 11px;
	font-weight: 600;
	width: 105px;
	cursor: pointer;
}

.search-buttons input:hover {
	border-bottom: 2px solid #CACACA;
	background-color: #F5F5F5;
}

.footer {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	bottom: 1px;
	border-top: 1px solid #e4e4e4;
}

.footer-left {
	display: block;
	float: left;
	width: 48%;
}

.footer-right {
	display: block;
	text-align: right;
}

.footer-left ul li, .footer-right ul li {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 10px;
	color: #666;
}

.footer-left ul li {
	padding-left: 30px;
}

.footer-right ul li {
	padding-right: 30px;
}